{% if homepageVideoContent is not empty %}
    <div class="videocontainer">
        <div class="videorow">
            <div class="hidden-xs hidden-sm col-md-4 col-lg-4">{{ "Title"|trans}}:</div>

            <div class="hidden-xs hidden-sm col-md-4 col-lg-4">{{ 'URL'|trans }}:</div>

            <div class="hidden-xs hidden-sm col-mds-4 col-lg-4">{{ 'description2'|trans({}, 'SonataUserBundle') }}:</div>
        </div>
{% endif %}
{% for key, attribute in homepageVideoContent %}
    {% if attribute is not empty %} 
        <div class="videocontentrow {{ cycle(['odd', 'even'], loop.index0) }}">
            <div class="col-sm-4 col-md-4 col-lg-4">{{ attribute.title|trans }}</div>

            <div class="col-sm-4 col-md-4 col-lg-4">{{ attribute.url|trans }}</div>
            <div class="col-sm-4 col-md-4 col-lg-4">{{ attribute.description|trans }}</div>                             
        </div>
    </div>  
    {% endif %}
{% endfor %}