<!DOCTYPE html>
<html>{% spaceless %}
    <head>   
        <title>{% block title %}{% endblock %} | Portfolio</title>
        {% stylesheets 'bundles/freelancedenverportfolio/css/style.css' %}
            <link rel="stylesheet" href="{{ asset('bundles/freelancedenverportfolio/css/style.css') }}" />
        {% endstylesheets %}     
        {% stylesheets 'bundles/freelancedenverportfolio/css/bootstrap.css' %}
            <link rel="stylesheet" href="{{ asset('bundles/freelancedenverportfolio/css/bootstrap.css')}}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
          
      
    </head>
    <body>
        <div id="content">
                {% block notifications %}
                    {% if error is defined and error is not null %}
                        <div class="message">
                            {{ error.message|trans }}
                        </div>
                    {% endif %}

                    {% if notice is defined and notice is not null %}
                        <div class="message">
                            {{ notice }}
                        </div>
                    {% endif %}

                    {% if app.session.flashbag.has('notice') is defined and app.session.flashbag.has('notice') is not null  %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="message">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                    {% endif %}
                {% endblock %}
        </div>
	{% block body %}{% endblock %}
        <script src="{{ asset('bundles/freelancedenverportfolio/js/jquery.min.js')}}"></script>
        <script src="{{ asset('bundles/freelancedenverportfolio/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bundles/freelancedenverportfolio/js/slideshow.js')}}"></script>
    </body>
{% endspaceless %}</html>
