<!DOCTYPE html>
<html>{% spaceless %}
    <head>   
        <title>{% block title %}{% endblock %} | Portfolio</title>
        {% stylesheets '@FreelanceDenverPortfolioBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
     
          
      
    </head>
    <body>
        <div id="content">
                {% block notifications %}
                    {% if error is defined and error is not null %}
                        <div class="message">
                            {{ error.message|trans }}
                        </div>
                    {% endif %}

                    {% if notice is defined and notice is not null %}
                        <div class="message">
                            {{ notice }}
                        </div>
                    {% endif %}

                    {% if app.session.flashbag.has('notice') is defined and app.session.flashbag.has('notice') is not null  %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="message">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                    {% endif %}
                {% endblock %}
        </div>
	{% block body %}{% endblock %}
        {% block javascripts %} 
            {% javascripts '@FreelanceDenverPortfolioBundle/Resources/public/js/jquery.min.js'%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@FreelanceDenverPortfolioBundle/Resources/public/js/bootstrap.min.js'%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@FreelanceDenverPortfolioBundle/Resources/public/js/slideshow.js'%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
</body>
{% endspaceless %}</html>
