<div class="header">
    <div class="logocontainer">
        {% block logodenver %}
            <div class="logodenver col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <span class="redtext">{{'d'|capitalize }}</span>{{ 'enver Harwar'|upper }}<span class="redtext">D</span>            
            </div>
            {% endblock %}
    <div class="clear"></div>
        {% block logocinematographer %}
            <div class="logocinematographer col-xs- col-sm-6 col-md-6 col-lg-6">
                {{ 'cinematographer'|upper }}
            </div>
        {% endblock %}
    </div>
        
    <div class="navhref text-right">
        {% block navhref %}
            <a  href="#about" class="col-sm-4 col-sm-2 col-md-2 col-lg-2 text-center"><span class="whitetext">{{ 'about'|upper }}</span></a>
            <a href="#gallery" class="col-sm-4 col-sm-2 col-md-2 col-lg-2 text-center"><span class="whitetext">{{ 'gallery'|upper }}</span></a>
            <a href="#contact" class="col-sm-4 col-sm-2 col-md-2 col-lg-2 text-center"><span class="whitetext">{{ 'contact'|upper }}</span></a>
        {% endblock %}       
    </div>
    <div class="dropdown ">
        {% block dropdown %}
            <div class="dropdownactivecontainer">
                <ul class="col-xs-12 hidden-sm hidden-md hidden-lg text-left">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="whitetext">{{ 'Main Menu'|upper }}</span> <b class="caret whitetext"></b></a>
                        <ul class="dropdown-menu">
                            <li><a  href="#about"><span class="blacktext">{{ 'about'|upper }}</span></a></li>
                            <li><a  href="#gallery"><span class="blacktext">{{ 'gallery'|upper }}</span></a></li>
                            <li><a  href="#contact"><span class="blacktext">{{ 'contact'|upper }}</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% endblock %}
    </div>
</div>
<div class="clear"></div>