<div class="header">
    <div class="logocontainer">
        {% block logodenver %}
            <div class="logodenver col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <span class="redtext">{{'d'|capitalize }}</span>{{ 'enver '|upper }}{{ 'James Harwar'|upper }}<span class="redtext">{{'d'|capitalize }}</span>            
            </div>
        {% endblock %}
    <div class="clear"></div>
        {% block logocinematographer %}
            <div class="logocinematographer col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {% spaceless %}{{ 'cinematographer'|upper }}{%endspaceless %}
            </div>
        {% endblock %}
    </div>
        
    <div class="navhref text-right">
        {% block navhref %}
            <a  href="#aboutme" class="col-sm-4 col-sm-2 col-md-2 col-lg-2 text-center"><span class="whitetext">{{ 'about '|upper }}<span class="redtext">{{ 'me'|upper }}</span></span></a>
            <a href="#gallery" class="col-sm-4 col-sm-2 col-md-2 col-lg-2 text-center"><span class="whitetext">{{ 'gallery'|upper }}</span></a>
            <a href="#contact" class="col-sm-4 col-sm-2 col-md-2 col-lg-2 text-center"><span class="whitetext">{{ 'contact'|upper }}</span></a>
        {% endblock %}       
    </div>
    <div class="dropdown ">
        {% block dropdown %}
            <div class="dropdownactivecontainer">
                <ul class="col-xs-12 hidden-sm hidden-md hidden-lg text-left>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="whitetext">{{ 'Main Menu'|upper }}</span> <b class="caret whitetext"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a  href="#aboutme"><span class="blacktext">{{ 'about '|upper }}</span><span class="redtext">{{ 'me'|upper }}</span></a></li>
                            <li><a  href="#gallery"><span class="blacktext">{{ 'gallery'|upper }}</span></a></li>
                            <li><a  href="#contact"><span class="blacktext">{{ 'contact'|upper }}</span></a></li>
                            <li class="dropdown-submenu">
                                <span class="blacktextdropdown dropdownalign">{{ 'find me on:'|upper }}</span>
                                <ul class="dropdown-submenu">
                                    <li class = "dropdown-menu">
                                    <li><a href="https://instagram.com/denver_harward/" class="text-right"><span class="blacktext">{{ 'instagram'|upper }}</span></a></li>
                                    <li><a href="https://www.facebook.com/denver.harward"><span class="blacktext">{{ 'Facebook'|upper }}</span></a></li>
                                    <li><a href="https://www.linkedin.com/pub/denver-harward/41/823/2a2"><span class="blacktext">{{ 'linkedIn'|upper }}</span></a></li>
                                    <li><a href="https://www.youtube.com/user/DenverHarward"><span class="blacktext">{{ 'youtube'|upper }}</span></a></li>
                                     <li><a href="http://www.imdb.com/name/nm5490181/"><span class="blacktext">{{ 'imdb'|upper }}</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% endblock %}
    </div>
</div>
<div class="clear"></div>